<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.Heshan.Module"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewReport"></activity>
        <activity android:name=".EditBudget" />

        <activity android:name=".updateCredentials"></activity>

        <activity android:name="com.example.Heshan.catUpdate"></activity>
        <activity android:name="com.example.Heshan.ViewCategory" />
        <activity android:name="com.example.Heshan.AddCategory" />

        <activity android:name=".CreateBudgetMenu" />
        <activity android:name="com.example.thanuja.fragments.ThanujaMain" />
        <activity android:name="com.example.imal.registerUser" />
        <activity android:name="com.example.imal.userProfile" />
        <activity android:name="com.example.imal.MainActivity" />
        <activity android:name="com.example.imal.EnterIncome" />


        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>